
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>First angular test with Jasmine</title>

  <link rel="stylesheet" href="../tests/lib/jasmine-2.3.4/jasmine.css">
  <link rel = "stylesheet" href = "../styles/style.css">

  <script src="../tests/lib/jasmine-2.3.4/jasmine.js"></script>
  <script src="../tests/lib/jasmine-2.3.4/jasmine-html.js"></script>
  <script src="../tests/lib/jasmine-2.3.4/boot.js"></script>

    <!-- include Angular-->
  <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-mocks.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script>

  <!-- include source files here... -->
  <script src="../scripts/controllers.js"></script>

  <!-- include spec files here...  -->
  <script src="../tests/angularTest.js"></script>

  <!-- incluse service files-->
  <script type="text/javascript" src = "../scripts/services.js"></script>

  <!-- Latest compiled and minified CSS  necessário para usar o uibootstrap, uma vez que o bootstrapjs tem conflitos com o angular-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script type="text/javascript" src="../scripts/ui-bootstrap-tpls-0.14.3.js"></script>

</head>

<body ng-app = "root">

	Inicio favorite controller 

	<div ng-controller="favoriteCtrl as favCtrl ">
	<div>
		Favorite word: <input type="text" ng-model = "favCtrl.favoriteWord"/>
		{{favCtrl.favoriteWord}}
	</div>
	<div>
		Favorite color:
		<input type="radio" name="fc" value="Red" ng-model = "favCtrl.favoriteColor">Red</input>
		<input type="radio" name="fc" value="Green" ng-model = "favCtrl.favoriteColor">Green</input>
		<input type="radio" name="fc" value="Yellow" ng-model = "favCtrl.favoriteColor">Yellow</input>
		<input type="radio" name="fc" value="Blue" ng-model = "favCtrl.favoriteColor">Blue</input>
		-{{favCtrl.favoriteColor}}
	</div>
	<div>
		Favorite shape:
		<select ng-model = "favCtrl.favoriteShape">
			<option value="Circle">Circle</option>
			<option value="Triangle">Triangle</option>
			<option value="Square">Square</option>
		</select>
		{{favCtrl.favoriteShape}}
	</div>
	</div>

	<br> 
	Final Favorite Controller
	<br>

	Inicio Bold Controller

	<div ng-controller="bold as boldCtrl">
  		<input id="txtApplyStyle" type="text" placeholder="Enter a number" ng-model="boldCtrl.val" />
  		<span ng-class = "{bold: boldCtrl.isBold(), strike: boldCtrl.isStrike(), red: boldCtrl.isRed()};">Example Text</span>

  		<table>
	  	<thead>
		 	<tr ng-repeat = "product in boldCtrl.products">
			 	<td>{{product.id}}</td>
			  	<td>{{product.name}}</td>
		  	</tr>
	  	</thead>
  		</table>
  		<p>Here is a value inside bold escope declared as a service: </p>
  		<p>{{boldCtrl.msgService}}</p>
  		<p>Here the result from factory multiply services: {{boldCtrl.resultMultFunc}}</p> 
  		<p>Here the result from service multiply services: {{boldCtrl.resultMultServ}}</p>
	</div>

	<br>
	Final Bold Controller
	<br>
	Inicio Invoice Controller

	<div ng-controller="InvoiceController as invoice">
		<b>Invoice:</b>
		<div>
			Quantity: <input type="number" min="0" ng-model="invoice.qty" required >
		</div>
		<div>
			Costs: <input type="number" min="0" ng-model="invoice.cost" required >
			<select ng-model="invoice.inCurr">
				<option ng-repeat="c in invoice.currencies">{{c}}</option>
			</select>
		</div>
		<div>
			<b>Total:</b>
			<span ng-repeat="c in invoice.currencies">
				{{invoice.total(c) | currency:c}}
			</span>
			<button class="btn" ng-click="invoice.pay()">Pay</button>
		</div>
	</div>

	<div class="show-scope-demo">
		<div ng-controller="GreetController">
			Hello {{name}}!
		</div> <!-- termina escopo greetcontroller -->
		<div ng-controller="ListController">
			<ol>
				<li ng-repeat="name in names">{{name}} from {{department}}</li>
			</ol>
		</div>

		<div ng-controller="MainController as mainCtrl">
			<p>Good {{mainCtrl.timeOfDay}}, {{mainCtrl.name}}!</p>

			<div ng-controller="ChildController as childCtrl">
				<p>Good {{mainCtrl.timeOfDay}}, {{childCtrl.name}}!</p>

				<div ng-controller="GrandChildController as grandChildCtrl">
					<p>Good {{grandChildCtrl.timeOfDay}}, {{grandChildCtrl.name}}!</p>

				</div><!--termina escop grandchildcontroller -->

			</div><!--termina escop childcontroller -->

		</div> <!-- termina escopo maincontroller -->
	</div>

	<div ng-controller="GreetController">
	  <p>{{ message }}</p>
	  <form ng-submit="updateMessage(newMessage)">
	    <input type="text" ng-model="newMessage">
	    <button type="submit">Update Message</button>
	  </form>
	</div>

	<a href="coursera.html">Angular app from coursera</a>
	<br>
	<a href = "feed.html"> Feed</a>
	<br><br>
</body>
</html>